/* APP引入本地文件失败，仅引入在线文件 */
@font-face {
  font-family: 'dzicon-iconfont';  /* Project id 1830575 */
  src: url('https://at.alicdn.com/t/font_1830575_62q4oawm8qs.woff2?t=1638284168151') format('woff2'),
       url('https://at.alicdn.com/t/font_1830575_62q4oawm8qs.woff?t=1638284168151') format('woff'),
       url('https://at.alicdn.com/t/font_1830575_62q4oawm8qs.ttf?t=1638284168151') format('truetype');
}

.dzicon-iconfont {
  position: relative;
  display: flex;
  font: normal normal normal 14px/1 "dzicon-iconfont";
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dzicon-singin-writefill:before {
  content: "\e85d";
} 


.dzicon-customer-service:before {
  content: "\e85c";
} 

.dzicon-add2:before {
  content: "\e85b";
} 

.dzicon-authfill:before {
  content: "\e85a";
} 

.dzicon-copy-line:before {
  content: "\e859";
} 

.dzicon-order-record:before {
  content: "\e858";
} 

.dzicon-crown-fill:before {
  content: "\e6b5";
} 

.dzicon-notification-line:before {
  content: "\f18e";
} 

.dzicon-infofill2:before {
  content: "\e743";
}

.dzicon-column-line:before {
  content: "\e647";
}
.dzicon-star2:before {
  content: "\e614";
}
.dzicon-saoyisao:before {
  content: "\e6c1";
}
.dzicon-kanjia1:before {
  content: "\e613";
}
.dzicon-zhibo1:before {
  content: "\e618";
}
.dzicon-shezhi-tianchong:before {
  content: "\e638";
}

.dzicon-category:before {
  content: "\e685";
}

.dzicon-categoryfill:before {
  content: "\e623";
}

.dzicon-new-jifen:before {
  content: "\e611";
}

.dzicon-tubiao309:before {
	content: "\e620";
}

.dzicon-weichengjiaodingdan:before {
	content: "\e6cf";
}

.dzicon-baoguo_shouhuo:before {
	content: "\e6b3";
}

.dzicon-loading1:before {
	content: "\e603";
}

.dzicon-icon_password_yes:before {
	content: "\e615";
}

.dzicon-lucenehuancun:before {
	content: "\e602";
}

.dzicon-fapiao:before {
	content: "\e61b";
}

.dzicon-iconfonttuijianren:before {
  content: "\e60e";
}

.dzicon-tixianjilu:before {
  content: "\e63d";
}

.dzicon-diqiu:before {
  content: "\e631";
}

.dzicon-jinhangzhong:before {
  content: "\e605";
}

.dzicon-dizhi:before {
  content: "\e60b";
}

.dzicon-icon:before {
  content: "\e61c";
}

.dzicon-pushpin:before {
  content: "\e857";
}

.dzicon-pushpin-fill:before {
  content: "\e6b1";
}

.dzicon-memberDiscount:before {
  content: "\e701";
}

.dzicon-virtualProduct:before {
  content: "\e660";
}

.dzicon-balance:before {
  content: "\e616";
}

.dzicon-commission:before {
  content: "\e73b";
}

.dzicon-alip:before {
  content: "\e601";
}

.dzicon-mobile1:before {
  content: "\e6ae";
}

.dzicon-password:before {
  content: "\e6be";
}

.dzicon-qq:before {
  content: "\e600";
}

.dzicon-weibo1:before {
  content: "\e639";
}

.dzicon-wechat:before {
  content: "\e622";
}

.dzicon-user_name:before {
  content: "\e67a";
}

.dzicon-iOS:before {
  content: "\e61a";
}

.dzicon-zhibo:before {
  content: "\e640";
}

.dzicon-pintuan:before {
  content: "\e60d";
}

.dzicon-kanjia:before {
  content: "\ebbd";
}

.dzicon-coupon:before {
  content: "\e6a1";
}

.dzicon-hexiao:before {
  content: "\e63a";
}

.dzicon-login:before {
  content: "\e612";
}

.dzicon-empty:before {
  content: "\e617";
}

.dzicon-tipfill:before {
  content: "\e72e";
}

.dzicon-tip:before {
  content: "\e72f";
}

.dzicon-checkbox:before {
  content: "\e678";
}

.dzicon-backspace:before {
  content: "\e728";
}

.dzicon-arrowleft:before {
  content: "\e854";
}

.dzicon-arrowright:before {
  content: "\e855";
}

.dzicon-arrowrightdouble:before {
  content: "\e79a";
}

.dzicon-arrowleftdouble:before {
  content: "\e856";
}

.dzicon-round:before {
  content: "\e6d7";
}

.dzicon-dress:before {
  content: "\e814";
}

.dzicon-roundaddfill:before {
  content: "\e6d8";
}

.dzicon-coffee:before {
  content: "\e815";
}

.dzicon-roundadd:before {
  content: "\e6d9";
}

.dzicon-sports:before {
  content: "\e816";
}

.dzicon-add:before {
  content: "\e6da";
}

.dzicon-group_light:before {
  content: "\e817";
}

.dzicon-notificationforbidfill:before {
  content: "\e6db";
}

.dzicon-location_light:before {
  content: "\e818";
}

.dzicon-explorefill:before {
  content: "\e6dd";
}

.dzicon-attention_light:before {
  content: "\e819";
}

.dzicon-fold:before {
  content: "\e6de";
}

.dzicon-group_fill_light:before {
  content: "\e81a";
}

.dzicon-game:before {
  content: "\e6df";
}

.dzicon-group_fill:before {
  content: "\e81b";
}

.dzicon-redpacket:before {
  content: "\e6e0";
}

.dzicon-play_forward_fill:before {
  content: "\e81c";
}

.dzicon-selectionfill:before {
  content: "\e6e1";
}

.dzicon-subscription_light:before {
  content: "\e81d";
}

.dzicon-similar:before {
  content: "\e6e2";
}

.dzicon-deliver_fill:before {
  content: "\e81e";
}

.dzicon-appreciatefill:before {
  content: "\e6e3";
}

.dzicon-notice_forbid_fill:before {
  content: "\e81f";
}

.dzicon-infofill:before {
  content: "\e6e4";
}

.dzicon-qr_code_light:before {
  content: "\e820";
}

.dzicon-info:before {
  content: "\e6e5";
}

.dzicon-settings_light:before {
  content: "\e821";
}

.dzicon-forwardfill:before {
  content: "\e6ea";
}

.dzicon-pick:before {
  content: "\e822";
}

.dzicon-forward:before {
  content: "\e6eb";
}

.dzicon-form_favor_light:before {
  content: "\e823";
}

.dzicon-rechargefill:before {
  content: "\e6ec";
}

.dzicon-round_comment_light:before {
  content: "\e824";
}

.dzicon-recharge:before {
  content: "\e6ed";
}

.dzicon-phone_light:before {
  content: "\e825";
}

.dzicon-vipcard:before {
  content: "\e6ee";
}

.dzicon-round_down_light:before {
  content: "\e826";
}

.dzicon-voice:before {
  content: "\e6ef";
}

.dzicon-friend_settings_light:before {
  content: "\e827";
}

.dzicon-voicefill:before {
  content: "\e6f0";
}

.dzicon-change:before {
  content: "\e828";
}

.dzicon-friendfavor:before {
  content: "\e6f1";
}

.dzicon-round_list_light:before {
  content: "\e829";
}

.dzicon-wifi:before {
  content: "\e6f2";
}

.dzicon-ticket_fill:before {
  content: "\e82a";
}

.dzicon-share:before {
  content: "\e6f3";
}

.dzicon-round_friend_fill:before {
  content: "\e82b";
}

.dzicon-wefill:before {
  content: "\e6f4";
}

.dzicon-round_crown_fill:before {
  content: "\e82c";
}

.dzicon-we:before {
  content: "\e6f5";
}

.dzicon-round_link_fill:before {
  content: "\e82d";
}

.dzicon-lightauto:before {
  content: "\e6f6";
}

.dzicon-round_light_fill:before {
  content: "\e82e";
}

.dzicon-lightforbid:before {
  content: "\e6f7";
}

.dzicon-round_favor_fill:before {
  content: "\e82f";
}

.dzicon-lightfill:before {
  content: "\e6f8";
}

.dzicon-round_menu_fill:before {
  content: "\e830";
}

.dzicon-camerarotate:before {
  content: "\e6f9";
}

.dzicon-round_location_fill:before {
  content: "\e831";
}

.dzicon-light:before {
  content: "\e6fa";
}

.dzicon-round_pay_fill:before {
  content: "\e832";
}

.dzicon-barcode:before {
  content: "\e6fb";
}

.dzicon-round_like_fill:before {
  content: "\e833";
}

.dzicon-flashlightclose:before {
  content: "\e6fc";
}

.dzicon-round_people_fill:before {
  content: "\e834";
}

.dzicon-flashlightopen:before {
  content: "\e6fd";
}

.dzicon-round_pay:before {
  content: "\e835";
}

.dzicon-searchlist:before {
  content: "\e6fe";
}

.dzicon-round_rank_fill:before {
  content: "\e836";
}

.dzicon-service:before {
  content: "\e6ff";
}

.dzicon-round_redpacket_fill:before {
  content: "\e837";
}

.dzicon-sort:before {
  content: "\e700";
}

.dzicon-round_skin_fill:before {
  content: "\e838";
}

.dzicon-down:before {
  content: "\e703";
}

.dzicon-round_record_fill:before {
  content: "\e839";
}

.dzicon-mobile:before {
  content: "\e704";
}

.dzicon-round_ticket_fill:before {
  content: "\e83a";
}

.dzicon-mobilefill:before {
  content: "\e705";
}

.dzicon-round_redpacket:before {
  content: "\e83b";
}

.dzicon-copy:before {
  content: "\e706";
}

.dzicon-round_text_fill:before {
  content: "\e83c";
}

.dzicon-countdownfill:before {
  content: "\e707";
}

.dzicon-round_ticket:before {
  content: "\e83d";
}

.dzicon-countdown:before {
  content: "\e708";
}

.dzicon-round_transfer_fill:before {
  content: "\e83e";
}

.dzicon-noticefill:before {
  content: "\e709";
}

.dzicon-subtitle_block_light:before {
  content: "\e83f";
}

.dzicon-notice:before {
  content: "\e70a";
}

.dzicon-warn_light:before {
  content: "\e840";
}

.dzicon-qiang:before {
  content: "\e70b";
}

.dzicon-round_transfer:before {
  content: "\e841";
}

.dzicon-upstagefill:before {
  content: "\e70e";
}

.dzicon-vip_code_light:before {
  content: "\e842";
}

.dzicon-upstage:before {
  content: "\e70f";
}

.dzicon-subtitle_unblock_light:before {
  content: "\e843";
}

.dzicon-babyfill:before {
  content: "\e710";
}

.dzicon-round_shop_fill:before {
  content: "\e844";
}

.dzicon-baby:before {
  content: "\e711";
}

.dzicon-oppose_fill_light:before {
  content: "\e845";
}

.dzicon-brandfill:before {
  content: "\e712";
}

.dzicon-oppose_light:before {
  content: "\e846";
}

.dzicon-brand:before {
  content: "\e713";
}

.dzicon-living:before {
  content: "\e847";
}

.dzicon-choicenessfill:before {
  content: "\e714";
}

.dzicon-goods_hot_fill:before {
  content: "\e848";
}

.dzicon-choiceness:before {
  content: "\e715";
}

.dzicon-ticket_money_fill:before {
  content: "\e849";
}

.dzicon-clothesfill:before {
  content: "\e716";
}

.dzicon-arrow_left_fill:before {
  content: "\e84a";
}

.dzicon-clothes:before {
  content: "\e717";
}

.dzicon-arrow_up_fill:before {
  content: "\e84b";
}

.dzicon-creativefill:before {
  content: "\e718";
}

.dzicon-xiaoheiqun:before {
  content: "\e84c";
}

.dzicon-creative:before {
  content: "\e719";
}

.dzicon-auction:before {
  content: "\e84d";
}

.dzicon-female:before {
  content: "\e71a";
}

.dzicon-return:before {
  content: "\e84e";
}

.dzicon-keyboard:before {
  content: "\e71b";
}

.dzicon-mall_light:before {
  content: "\e84f";
}

.dzicon-male:before {
  content: "\e71c";
}

.dzicon-mall_fill_light:before {
  content: "\e850";
}

.dzicon-newfill:before {
  content: "\e71d";
}

.dzicon-broadcast_fill:before {
  content: "\e851";
}

.dzicon-new:before {
  content: "\e71e";
}

.dzicon-at:before {
  content: "\e852";
}

.dzicon-pullleft:before {
  content: "\e71f";
}

.dzicon-card_fill:before {
  content: "\e853";
}

.dzicon-pullright:before {
  content: "\e720";
}

.dzicon-rankfill:before {
  content: "\e721";
}

.dzicon-rank:before {
  content: "\e722";
}

.dzicon-bad:before {
  content: "\e723";
}

.dzicon-cameraadd:before {
  content: "\e724";
}

.dzicon-focus:before {
  content: "\e725";
}

.dzicon-friendfill:before {
  content: "\e726";
}

.dzicon-cameraaddfill:before {
  content: "\e727";
}

.dzicon-apps:before {
  content: "\e729";
}

.dzicon-paintfill:before {
  content: "\e72a";
}

.dzicon-paint:before {
  content: "\e72b";
}

.dzicon-picfill:before {
  content: "\e72c";
}

.dzicon-refresharrow:before {
  content: "\e72d";
}

.dzicon-markfill:before {
  content: "\e730";
}

.dzicon-mark:before {
  content: "\e731";
}

.dzicon-presentfill:before {
  content: "\e732";
}

.dzicon-repeal:before {
  content: "\e733";
}

.dzicon-album:before {
  content: "\e734";
}

.dzicon-peoplefill:before {
  content: "\e735";
}

.dzicon-people:before {
  content: "\e736";
}

.dzicon-servicefill:before {
  content: "\e737";
}

.dzicon-repair:before {
  content: "\e738";
}

.dzicon-file:before {
  content: "\e739";
}

.dzicon-repairfill:before {
  content: "\e73a";
}

.dzicon-attentionfill:before {
  content: "\e73c";
}

.dzicon-attention:before {
  content: "\e73d";
}

.dzicon-commandfill:before {
  content: "\e73e";
}

.dzicon-command:before {
  content: "\e73f";
}

.dzicon-communityfill:before {
  content: "\e740";
}

.dzicon-community:before {
  content: "\e741";
}

.dzicon-read:before {
  content: "\e742";
}

.dzicon-calendar:before {
  content: "\e74a";
}

.dzicon-cut:before {
  content: "\e74b";
}

.dzicon-magic:before {
  content: "\e74c";
}

.dzicon-backwardfill:before {
  content: "\e74d";
}

.dzicon-playfill:before {
  content: "\e74f";
}

.dzicon-stop:before {
  content: "\e750";
}

.dzicon-tagfill:before {
  content: "\e751";
}

.dzicon-tag:before {
  content: "\e752";
}

.dzicon-group:before {
  content: "\e753";
}

.dzicon-all:before {
  content: "\e755";
}

.dzicon-backdelete:before {
  content: "\e756";
}

.dzicon-hotfill:before {
  content: "\e757";
}

.dzicon-hot:before {
  content: "\e758";
}

.dzicon-post:before {
  content: "\e759";
}

.dzicon-radiobox:before {
  content: "\e75b";
}

.dzicon-rounddown:before {
  content: "\e75c";
}

.dzicon-upload:before {
  content: "\e75d";
}

.dzicon-writefill:before {
  content: "\e760";
}

.dzicon-write:before {
  content: "\e761";
}

.dzicon-radioboxfill:before {
  content: "\e763";
}

.dzicon-punch:before {
  content: "\e764";
}

.dzicon-shake:before {
  content: "\e765";
}

.dzicon-add1:before {
  content: "\e767";
}

.dzicon-move:before {
  content: "\e768";
}

.dzicon-safe:before {
  content: "\e769";
}

.dzicon-activityfill:before {
  content: "\e775";
}

.dzicon-crownfill:before {
  content: "\e776";
}

.dzicon-crown:before {
  content: "\e777";
}

.dzicon-goodsfill:before {
  content: "\e778";
}

.dzicon-messagefill:before {
  content: "\e779";
}

.dzicon-profilefill:before {
  content: "\e77a";
}

.dzicon-sound:before {
  content: "\e77b";
}

.dzicon-sponsorfill:before {
  content: "\e77c";
}

.dzicon-sponsor:before {
  content: "\e77d";
}

.dzicon-upblock:before {
  content: "\e77e";
}

.dzicon-weblock:before {
  content: "\e77f";
}

.dzicon-weunblock:before {
  content: "\e780";
}

.dzicon-my:before {
  content: "\e78b";
}

.dzicon-myfill:before {
  content: "\e78c";
}

.dzicon-emojifill:before {
  content: "\e78d";
}

.dzicon-emojiflashfill:before {
  content: "\e78e";
}

.dzicon-flashbuyfill-copy:before {
  content: "\e78f";
}

.dzicon-text:before {
  content: "\e791";
}

.dzicon-goodsfavor:before {
  content: "\e794";
}

.dzicon-musicfill:before {
  content: "\e795";
}

.dzicon-musicforbidfill:before {
  content: "\e796";
}

.dzicon-roundleftfill:before {
  content: "\e799";
}

.dzicon-triangledownfill:before {
  content: "\e79b";
}

.dzicon-triangleupfill:before {
  content: "\e79c";
}

.dzicon-roundleftfill-copy:before {
  content: "\e79e";
}

.dzicon-pulldown1:before {
  content: "\e79f";
}

.dzicon-emojilight:before {
  content: "\e7a1";
}

.dzicon-keyboardlight:before {
  content: "\e7a3";
}

.dzicon-recordfill:before {
  content: "\e7a4";
}

.dzicon-recordlight:before {
  content: "\e7a5";
}

.dzicon-record:before {
  content: "\e7a6";
}

.dzicon-roundaddlight:before {
  content: "\e7a7";
}

.dzicon-soundlight:before {
  content: "\e7a8";
}

.dzicon-cardboardfill:before {
  content: "\e7a9";
}

.dzicon-cardboard:before {
  content: "\e7aa";
}

.dzicon-formfill:before {
  content: "\e7ab";
}

.dzicon-coin:before {
  content: "\e7ac";
}

.dzicon-sortlight:before {
  content: "\e7ad";
}

.dzicon-cardboardforbid:before {
  content: "\e7af";
}

.dzicon-circlefill:before {
  content: "\e7b0";
}

.dzicon-circle:before {
  content: "\e7b1";
}

.dzicon-attentionforbid:before {
  content: "\e7b2";
}

.dzicon-attentionforbidfill:before {
  content: "\e7b3";
}

.dzicon-attentionfavorfill:before {
  content: "\e7b4";
}

.dzicon-appreciate:before {
  content: "\e644";
}

.dzicon-attentionfavor:before {
  content: "\e7b5";
}

.dzicon-check:before {
  content: "\e645";
}

.dzicon-piclight:before {
  content: "\e7b7";
}

.dzicon-close:before {
  content: "\e646";
}

.dzicon-shoplight:before {
  content: "\e7b8";
}

.dzicon-edit:before {
  content: "\e649";
}

.dzicon-voicelight:before {
  content: "\e7b9";
}

.dzicon-emoji:before {
  content: "\e64a";
}

.dzicon-attentionfavorfill-copy:before {
  content: "\e7ba";
}

.dzicon-favorfill:before {
  content: "\e64b";
}

.dzicon-full:before {
  content: "\e7bc";
}

.dzicon-favor:before {
  content: "\e64c";
}

.dzicon-mail:before {
  content: "\e7bd";
}

.dzicon-loading:before {
  content: "\e64f";
}

.dzicon-peoplelist:before {
  content: "\e7be";
}

.dzicon-locationfill:before {
  content: "\e650";
}

.dzicon-goodsnewfill:before {
  content: "\e7bf";
}

.dzicon-location:before {
  content: "\e651";
}

.dzicon-goodsnew:before {
  content: "\e7c0";
}

.dzicon-phone:before {
  content: "\e652";
}

.dzicon-medalfill:before {
  content: "\e7c1";
}

.dzicon-roundcheckfill:before {
  content: "\e656";
}

.dzicon-medal:before {
  content: "\e7c2";
}

.dzicon-roundcheck:before {
  content: "\e657";
}

.dzicon-newsfill:before {
  content: "\e7c3";
}

.dzicon-roundclosefill:before {
  content: "\e658";
}

.dzicon-newshotfill:before {
  content: "\e7c4";
}

.dzicon-roundclose:before {
  content: "\e659";
}

.dzicon-newshot:before {
  content: "\e7c5";
}

.dzicon-roundrightfill:before {
  content: "\e65a";
}

.dzicon-news:before {
  content: "\e7c6";
}

.dzicon-roundright:before {
  content: "\e65b";
}

.dzicon-videofill:before {
  content: "\e7c7";
}

.dzicon-search:before {
  content: "\e65c";
}

.dzicon-video:before {
  content: "\e7c8";
}

.dzicon-taxi:before {
  content: "\e65d";
}

.dzicon-askfill:before {
  content: "\e7c9";
}

.dzicon-timefill:before {
  content: "\e65e";
}

.dzicon-ask:before {
  content: "\e7ca";
}

.dzicon-time:before {
  content: "\e65f";
}

.dzicon-exit:before {
  content: "\e7cb";
}

.dzicon-unfold:before {
  content: "\e661";
}

.dzicon-skinfill:before {
  content: "\e7cc";
}

.dzicon-warnfill:before {
  content: "\e662";
}

.dzicon-skin:before {
  content: "\e7cd";
}

.dzicon-warn:before {
  content: "\e663";
}

.dzicon-moneybagfill:before {
  content: "\e7ce";
}

.dzicon-camerafill:before {
  content: "\e664";
}

.dzicon-usefullfill:before {
  content: "\e7cf";
}

.dzicon-camera:before {
  content: "\e665";
}

.dzicon-usefull:before {
  content: "\e7d0";
}

.dzicon-commentfill:before {
  content: "\e666";
}

.dzicon-moneybag:before {
  content: "\e7d1";
}

.dzicon-comment:before {
  content: "\e667";
}

.dzicon-redpacket_fill:before {
  content: "\e7d3";
}

.dzicon-likefill:before {
  content: "\e668";
}

.dzicon-subscription:before {
  content: "\e7d4";
}

.dzicon-like:before {
  content: "\e669";
}

.dzicon-home_light:before {
  content: "\e7d5";
}

.dzicon-notificationfill:before {
  content: "\e66a";
}

.dzicon-my_light:before {
  content: "\e7d6";
}

.dzicon-notification:before {
  content: "\e66b";
}

.dzicon-community_light:before {
  content: "\e7d7";
}

.dzicon-order:before {
  content: "\e66c";
}

.dzicon-cart_light:before {
  content: "\e7d8";
}

.dzicon-samefill:before {
  content: "\e66d";
}

.dzicon-we_light:before {
  content: "\e7d9";
}

.dzicon-same:before {
  content: "\e66e";
}

.dzicon-home_fill_light:before {
  content: "\e7da";
}

.dzicon-deliver:before {
  content: "\e671";
}

.dzicon-cart_fill_light:before {
  content: "\e7db";
}

.dzicon-evaluate:before {
  content: "\e672";
}

.dzicon-community_fill_light:before {
  content: "\e7dc";
}

.dzicon-pay:before {
  content: "\e673";
}

.dzicon-my_fill_light:before {
  content: "\e7dd";
}

.dzicon-send:before {
  content: "\e675";
}

.dzicon-we_fill_light:before {
  content: "\e7de";
}

.dzicon-shop:before {
  content: "\e676";
}

.dzicon-skin_light:before {
  content: "\e7df";
}

.dzicon-ticket:before {
  content: "\e677";
}

.dzicon-search_light:before {
  content: "\e7e0";
}

.dzicon-back:before {
  content: "\e679";
}

.dzicon-scan_light:before {
  content: "\e7e1";
}

.dzicon-cascades:before {
  content: "\e67c";
}

.dzicon-people_list_light:before {
  content: "\e7e2";
}

.dzicon-discover:before {
  content: "\e67e";
}

.dzicon-message_light:before {
  content: "\e7e3";
}

.dzicon-list:before {
  content: "\e682";
}

.dzicon-close_light:before {
  content: "\e7e4";
}

.dzicon-more:before {
  content: "\e684";
}

.dzicon-add_light:before {
  content: "\e7e5";
}

.dzicon-scan:before {
  content: "\e689";
}

.dzicon-profile_light:before {
  content: "\e7e6";
}

.dzicon-settings:before {
  content: "\e68a";
}

.dzicon-service_light:before {
  content: "\e7e7";
}

.dzicon-questionfill:before {
  content: "\e690";
}

.dzicon-friend_add_light:before {
  content: "\e7e8";
}

.dzicon-question:before {
  content: "\e691";
}

.dzicon-edit_light:before {
  content: "\e7e9";
}

.dzicon-shopfill:before {
  content: "\e697";
}

.dzicon-camera_light:before {
  content: "\e7ea";
}

.dzicon-form:before {
  content: "\e699";
}

.dzicon-hot_light:before {
  content: "\e7eb";
}

.dzicon-pic:before {
  content: "\e69b";
}

.dzicon-refresh_light:before {
  content: "\e7ec";
}

.dzicon-filter:before {
  content: "\e69c";
}

.dzicon-back_light:before {
  content: "\e7ed";
}

.dzicon-footprint:before {
  content: "\e69d";
}

.dzicon-share_light:before {
  content: "\e7ee";
}

.dzicon-top:before {
  content: "\e69e";
}

.dzicon-comment_light:before {
  content: "\e7ef";
}

.dzicon-pulldown:before {
  content: "\e69f";
}

.dzicon-appreciate_light:before {
  content: "\e7f0";
}

.dzicon-pullup:before {
  content: "\e6a0";
}

.dzicon-favor_light:before {
  content: "\e7f1";
}

.dzicon-right:before {
  content: "\e6a3";
}

.dzicon-appreciate_fill_light:before {
  content: "\e7f2";
}

.dzicon-refresh:before {
  content: "\e6a4";
}

.dzicon-comment_fill_light:before {
  content: "\e7f3";
}

.dzicon-moreandroid:before {
  content: "\e6a5";
}

.dzicon-more_android_light:before {
  content: "\e7f4";
}

.dzicon-deletefill:before {
  content: "\e6a6";
}

.dzicon-friend_light:before {
  content: "\e7f5";
}

.dzicon-refund:before {
  content: "\e6ac";
}

.dzicon-more_light:before {
  content: "\e7f6";
}

.dzicon-cart:before {
  content: "\e6af";
}

.dzicon-goods_favor_light:before {
  content: "\e7f7";
}

.dzicon-qrcode:before {
  content: "\e6b0";
}

.dzicon-goods_new_fill_light:before {
  content: "\e7f8";
}

.dzicon-remind:before {
  content: "\e6b2";
}

.dzicon-goods_new_light:before {
  content: "\e7f9";
}

.dzicon-delete:before {
  content: "\e6b4";
}

.dzicon-goods_light:before {
  content: "\e7fa";
}

.dzicon-profile:before {
  content: "\e6b7";
}

.dzicon-medal_fill_light:before {
  content: "\e7fb";
}

.dzicon-home:before {
  content: "\e6b8";
}

.dzicon-medal_light:before {
  content: "\e7fc";
}

.dzicon-cartfill:before {
  content: "\e6b9";
}

.dzicon-news_fill_light:before {
  content: "\e7fd";
}

.dzicon-discoverfill:before {
  content: "\e6ba";
}

.dzicon-news_hot_fill_light:before {
  content: "\e7fe";
}

.dzicon-homefill:before {
  content: "\e6bb";
}

.dzicon-news_hot_light:before {
  content: "\e7ff";
}

.dzicon-message:before {
  content: "\e6bc";
}

.dzicon-news_light:before {
  content: "\e800";
}

.dzicon-addressbook:before {
  content: "\e6bd";
}

.dzicon-video_fill_light:before {
  content: "\e801";
}

.dzicon-link:before {
  content: "\e6bf";
}

.dzicon-message_fill_light:before {
  content: "\e802";
}

.dzicon-lock:before {
  content: "\e6c0";
}

.dzicon-form_light:before {
  content: "\e803";
}

.dzicon-unlock:before {
  content: "\e6c2";
}

.dzicon-video_light:before {
  content: "\e804";
}

.dzicon-vip:before {
  content: "\e6c3";
}

.dzicon-search_list_light:before {
  content: "\e805";
}

.dzicon-weibo:before {
  content: "\e6c4";
}

.dzicon-form_fill_light:before {
  content: "\e806";
}

.dzicon-activity:before {
  content: "\e6c5";
}

.dzicon-global_light:before {
  content: "\e807";
}

.dzicon-big:before {
  content: "\e6c7";
}

.dzicon-global:before {
  content: "\e808";
}

.dzicon-friendaddfill:before {
  content: "\e6c9";
}

.dzicon-favor_fill_light:before {
  content: "\e809";
}

.dzicon-friendadd:before {
  content: "\e6ca";
}

.dzicon-delete_light:before {
  content: "\e80a";
}

.dzicon-friendfamous:before {
  content: "\e6cb";
}

.dzicon-back_android:before {
  content: "\e80b";
}

.dzicon-friend:before {
  content: "\e6cc";
}

.dzicon-back_android_light:before {
  content: "\e80c";
}

.dzicon-goods:before {
  content: "\e6cd";
}

.dzicon-down_light:before {
  content: "\e80d";
}

.dzicon-selection:before {
  content: "\e6ce";
}

.dzicon-round_close_light:before {
  content: "\e80e";
}

.dzicon-explore:before {
  content: "\e6d2";
}

.dzicon-round_close_fill_light:before {
  content: "\e80f";
}

.dzicon-present:before {
  content: "\e6d3";
}

.dzicon-expressman:before {
  content: "\e810";
}

.dzicon-squarecheckfill:before {
  content: "\e6d4";
}

.dzicon-punch_light:before {
  content: "\e811";
}

.dzicon-square:before {
  content: "\e6d5";
}

.dzicon-evaluate_fill:before {
  content: "\e812";
}

.dzicon-squarecheck:before {
  content: "\e6d6";
}

.dzicon-furniture:before {
  content: "\e813";
}
