.dz-type-primary-light {
	color: $dz-type-primary-light;
}

.dz-type-warning-light {
	color: $dz-type-warning-light;
}

.dz-type-success-light {
	color: $dz-type-success-light;
}

.dz-type-error-light {
	color: $dz-type-error-light;
}

.dz-type-info-light {
	color: $dz-type-info-light;
}

.dz-type-primary-light-bg {
	background-color: $dz-type-primary-light;
}

.dz-type-warning-light-bg {
	background-color: $dz-type-warning-light;
}

.dz-type-success-light-bg {
	background-color: $dz-type-success-light;
}

.dz-type-error-light-bg {
	background-color: $dz-type-error-light;
}

.dz-type-info-light-bg {
	background-color: $dz-type-info-light;
}

.dz-type-primary-dark {
	color: $dz-type-primary-dark;
}

.dz-type-warning-dark {
	color: $dz-type-warning-dark;
}

.dz-type-success-dark {
	color: $dz-type-success-dark;
}

.dz-type-error-dark {
	color: $dz-type-error-dark;
}

.dz-type-info-dark {
	color: $dz-type-info-dark;
}

.dz-type-primary-dark-bg {
	background-color: $dz-type-primary-dark;
}

.dz-type-warning-dark-bg {
	background-color: $dz-type-warning-dark;
}

.dz-type-success-dark-bg {
	background-color: $dz-type-success-dark;
}

.dz-type-error-dark-bg {
	background-color: $dz-type-error-dark;
}

.dz-type-info-dark-bg {
	background-color: $dz-type-info-dark;
}

.dz-type-primary-disabled {
	color: $dz-type-primary-disabled;
}

.dz-type-warning-disabled {
	color: $dz-type-warning-disabled;
}

.dz-type-success-disabled {
	color: $dz-type-success-disabled;
}

.dz-type-error-disabled {
	color: $dz-type-error-disabled;
}

.dz-type-info-disabled {
	color: $dz-type-info-disabled;
}

.dz-type-primary {
	color: $dz-type-primary;
}

.dz-type-warning {
	color: $dz-type-warning;
}

.dz-type-success {
	color: $dz-type-success;
}

.dz-type-error {
	color: $dz-type-error;
}

.dz-type-info {
	color: $dz-type-info;
}

.dz-type-primary-bg {
	background-color: $dz-type-primary;
}

.dz-type-warning-bg {
	background-color: $dz-type-warning;
}

.dz-type-success-bg {
	background-color: $dz-type-success;
}

.dz-type-error-bg {
	background-color: $dz-type-error;
}

.dz-type-info-bg {
	background-color: $dz-type-info;
}

.dz-main-color {
	color: $dz-main-color;
}

.dz-content-color {
	color: $dz-content-color;
}

.dz-tips-color {
	color: $dz-tips-color;
}

.dz-light-color {
	color: $dz-light-color;
}
